<div class="footer-container">
  <div class="footer">
    <div class="row copywright">
      <div>
          &#9400; <span> {{date.getFullYear()}} ,</span>  <span> Markk inc. </span> 
      </div>
    
      <div class="row right-align">
        <div class="about"> Blog </div>
        <div class="about"> About </div>
        <div class="about"> Contact </div>
        <div class="about"> Careers </div>
        <div class="about"> Privacy </div>
        <div> Terms </div>
      </div>
    </div>
  
  
    <div class="row social-network">
      <div class="about"> <img src="../../assets/twitter.png" alt="" srcset=""> </div>
      <div class="about"> <img src="../../assets/instagram.svg" alt="" srcset=""> </div>
      <div class="about"> <img src="../../assets/facebook.png" alt="" srcset=""> </div>
    </div>
  </div>
</div>