<div *ngIf="userRatings?.user_id" class="user-rating-card-container" >
  <div class="user-rating-card" [style.background-image] = "getCardBackgroundImage()">
    <div class = "user-rating">
      <img [src]="getUserRating()" class="user-rating-icon">
    </div>

    <div>
      <ion-row>
        <div class="user-photos">
          <img [src]="userRatings?.user_profile_pic" class="user-profile-pic" alt="" srcset="">
          <div class="user-rating-badge">
            <img src="assets/icon-camera.png">
            {{userRatings?.pics_count}}
          </div>
        </div>
      </ion-row>

      <ion-row class="extra-ratings-container">
        <div class="extra-rating">
          <img src="assets/heart.png" alt="">
          {{userRatings?.likes}}
        </div>

        <div class="extra-rating">
          <img src="assets/message.png" alt="" srcset="">
          {{userRatings?.comments}}
        </div>

        <div class="extra-rating">
          <img src="assets/forwards.png" alt="" srcset="">
          {{userRatings?.forwards}}
        </div>
      </ion-row>
    </div>
  </div>
</div>