.header-container{
    padding-top: 10px;
    background: var(--header-color);
    height: fit-content;
}

.store-information{
    background: black;
    height: 100%;
    overflow-y: scroll;
    .store-detail-container{
        margin-top:70px !important;
        width: 80%;
        margin: auto;
    }
    .recap{
        display: flex;
        padding-left: 16px;
        color: var(--secondary-text);
        font-size: 1rem;
        align-items: center;
        .history-icon{
            height: 30px;
        }
        .hr-line{
            background: var(--secondary-text);
            height: 1px;
            flex: 1;
            margin-left: 12px;
            padding-right: 16px;
        }
    }

    @media screen and (max-width:576px){
        .store-detail-container{
            width: 100%;
        }
    }
}