<div class="review-page-container">
  <div class="review-page">
    <div class="header">
      <div>
        <img src="assets/icon-logo-word-40@2x.png" alt="" srcset="">
      </div>

      <div class="get-mark-btn">
        <a href="https://www.getmarkk.com/" target="blank"> <ion-button size = "small" shape = "round" color="secondary"> <img src="assets/icon-apple-32.svg" style="height: 20px;" alt="">  Get Markk  </ion-button> </a>
      </div>
    </div>

    <div>
      
    </div>


  </div>
</div>